# User-specific files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compiled source
**/bin/
**/obj/

# Frontend/Node
node_modules/
dist/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Test files
TestResults/
coveragereport/
